
### Examining racial discrimination in the US job market

#### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

#### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes.

#### Exercise
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value.
   4. Discuss statistical significance.

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet


#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet

****

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
data = pd.io.stata.read_stata('data/us_job_market_discrimination.dta')

In [3]:
# number of callbacks for balck-sounding names
sum(data[data.race=='b'].call)

157.0

#### What test is appropriate for this problem? Does CLT apply?

In [5]:
data.head(5)

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,...,1,0,1,0,0,0,0,0,0,
1,b,1,3,3,6,0,1,1,0,316,...,1,0,1,0,0,0,0,0,0,
2,b,1,4,1,6,0,0,0,0,19,...,1,0,1,0,0,0,0,0,0,
3,b,1,3,4,6,0,1,0,1,313,...,1,0,1,0,0,0,0,0,0,
4,b,1,3,3,22,0,0,0,0,313,...,1,1,0,0,0,0,0,1,0,Nonprofit

Working with only the columns in question would be preferable. I will also split the data into populations based on race.

In [9]:
race_call_data = data[['race','call']]
race_call_data_white = race_call_data[race_call_data.race=='w']
race_call_data_black = race_call_data[race_call_data.race!='w']

print(len(race_call_data_black))
print(len(race_call_data_white))

2435
2435

These are clearly binomial distributions. Let $\hat{p_w}$ be the sample probability of sucess (being called back) for a white person and let $\hat{p_b}$ be the corresponding measure for a black person. Then:

In [12]:
p_w = len(race_call_data_white[race_call_data_white.call==1])/len(race_call_data_white)
p_b = len(race_call_data_black[race_call_data_black.call==1])/len(race_call_data_black)

print(p_w)
print(p_b)

0.09650924024640657
0.06447638603696099

I have to check whether or not they meet the conditions to be approximated by a normal distribution. This is boils down to verifying if $np \ge 10$ and if $n(1-p) \ge 10$.

In [13]:
print(len(race_call_data_white)*p_w)
print(len(race_call_data_white)*(1-p_w))

print(len(race_call_data_black)*p_b)
print(len(race_call_data_black)*(1-p_b))

235.0
2200.0
157.0
2278.0

Success. Now I use the fact that a binomial distribution can be approximated by a normal distribution using the transformation:

1. $\mu = np$
2. $\sigma = np(1-p)$

In [14]:
x_bar_black = len(race_call_data_black)*p_b
std_black = len(race_call_data_black)*p_b*(1-p_b)

x_bar_white = len(race_call_data_white)*p_w
std_white = len(race_call_data_white)*p_w*(1-p_w)

In conclusion: Yes, the Central Limit Theorem does apply.

#### What are the null and alternate hypotheses?

The null hypothesis is that race--or this data's equivalent representation--has no impact on the whether or not an applicant is called back. The alternative hypothesis is that it does. Mathematically:

$H_0: p_B - p_W = 0 $

$H_A: p_B - p_W \neq 0$

#### Compute margin of error, confidence interval, and p-value.

In [ ]:
se = df_temp_sd/np.sqrt(len(df))
me = 1.96*se
confidence_interval = [df_temp_mean-me,df_temp_mean+me]
confidence_interval

By doing some research (read googling) I discovered a neat way to compute this significance that I never heard of before. Its name is Fisher's exact test. I've decided to use that method instead. To use it I need a 2x2 contingency table which calls for some data transformation.

In [54]:
freq_table = pd.crosstab(race_call_data.race,race_call_data.call)
freq_table

call     0    1
race
b     2278  157
w     2200  235

In [53]:
from scipy.stats import fisher_exact
fisher_exact(freq_table)

(1.5498841922408801, 4.7587471079089322e-05)

The p-value is the second item in the tuple. It's very small which means that I would reject the null hypothesis.

#### Discuss statistical significance.

Since I rejected the null hypothesis due to the small p-value, this means that race does have an impact on the rate at which applicants are accepted for interviews by employers.